menuinst==2.4.2
anaconda-anon-usage==0.7.5
annotated-types==0.6.0
archspec==0.2.5
boltons==25.0.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.2.1
distro==1.9.0
frozendict==2.4.6
idna==3.11
jaraco.context==0.0.0
jeepney==0.7.1
jsonpointer==3.0.0
mdurl==0.1.2
more-itertools==10.8.0
msgpack==1.1.1
packaging==25.0
pkce==1.0.3
platformdirs==4.5.0
pluggy==1.5.0
pycosat==0.6.6
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
PySocks==1.7.1
readchar==4.2.1
ruamel.yaml.clib==0.2.14
semver==3.0.4
setuptools==80.9.0
shellingham==1.5.4
tomli==2.2.1
tqdm==4.67.1
truststore==0.10.1
typing_extensions==4.15.0
wheel==0.45.1
cffi==2.0.0
jaraco.classes==3.4.0
jaraco.functools==4.1.0
jsonpatch==1.33
libmambapy==2.3.2
markdown-it-py==4.0.0
pip==25.3
python-dotenv==1.1.0
ruamel.yaml==0.18.16
typer-slim==0.20.0
typing-inspection==0.4.2
brotlicffi==1.2.0.0
cryptography==46.0.3
pydantic_core==2.41.5
rich==14.2.0
zstandard==0.24.0
conda-content-trust==0.2.0
pydantic==2.12.4
SecretStorage==3.4.0
urllib3==2.6.1
keyring==25.7.0
pydantic-settings==2.12.0
requests==2.32.5
typer==0.20.0
anaconda-cli-base==0.7.0
conda_package_streaming==0.12.0
anaconda-auth==0.12.3
conda-package-handling==2.4.0
conda==25.11.1
conda-anaconda-telemetry==0.3.0
conda-anaconda-tos==0.2.2
conda-libmamba-solver==25.11.0
acorn==2.0.1
smmap==5.0.2
sentry-sdk==2.49.0
PyYAML==6.0.3
protobuf==6.33.4
gitdb==4.0.12
GitPython==3.1.46
wandb==0.24.0
